<nav>
    <ul>
       <!-- <li><a href="https://erielookingproductions.info">Erie Looking Productions</a></li> -->
        <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/podcast.xml">About This Site</a></li> -->
        <li><a href="{{ site.url }}{{ site.baseurl }}/about.html">About This Site</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/howtouse.html">How To Use This Site</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/archives/">Archives</a></li>
        <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/podcast.xml">The RSS Feed</a></li> -->
        <!-- <li><a href="https://antennapod.org/deeplink/subscribe/?url={{ site.url }}{{ site.baseurl }}/podcast.xml">Watch via AntennaPod</a></li>
        <li><a href="https://podcasts.apple.com/us/podcast/elp-television/id1589693984">Watch via Apple Podcasts</a></li> -->
    </ul> 
</nav>
